amqp==5.0.5
asgiref==3.3.1
billiard==3.6.3.0
boto3==1.17.30
botocore==1.20.30
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
Django==3.1.9
django-celery-beat==2.2.0
django-debug-toolbar==3.2.1
django-environ==0.4.5
django-split-settings==1.0.1
django-storages==1.11.1
django-timezone-field==4.1.2
jmespath==0.10.0
kombu==5.0.2
mysqlclient==2.0.3
Pillow==8.1.2
prompt-toolkit==3.0.17
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
